@mixin sizeColor($size, $color, $type) {
  font-size: $size;
  color: $color;
  font-style: $type;
}
@mixin wh ($width, $height) {
  width: $width;
  height: $height;
}
@mixin fz_center {
  text-align: center;
}
@mixin fz_right {
  text-align: right;
}
@mixin fz_left {
  text-align: left;
}
@mixin flex {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
@mixin fl_row_center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@mixin fl_column_center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@mixin scrollbar {
  &::-webkit-scrollbar {
    overflow-x: hidden;
  }
}
