@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  -webkit-touch-callout: none;
  /* 当你触摸并按住触摸目标时候，禁止或显示系统默认菜单 */
  -webkit-user-select: none;
  /* webkit浏览器*/
  -moz-user-select: none;
  /* 火狐*/
  -ms-user-select: none;
  /* IE10 */
  user-select: none;
  font-family: 'PingFangSC-Regular', 'PingFangSC', 'HeitiSC', 'Helvetica', 'Microsoft Yahei', 'DroidSans', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.card-subTitle {
  font-size: 15px;
  color: #aaa;
  font-weight: 400;
  margin-bottom: 15px;
}

.go-all {
  padding-bottom: 15px;
  text-align: center;
}

.go-all a {
  font-size: 15px;
  color: #42bd56;
}
